@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #092D46;
  background: rgba(255, 255, 255, 0.7);
}
body::-webkit-scrollbar-thumb {
  background-color: #092D46;
  border-radius: 2px;
}
.container{
  max-width: 1920px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.rtl__on{
  direction: rtl;
  unicode-bidi: embed
}

@import "navbar";
@import "home";
@import "inner"
